{% load staticfiles categories %}

<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Bibliotheca{% endblock %}</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
          rel="stylesheet" media="screen">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
{%  block head_extra %} {% endblock %}
</head>
<body>
	<nav class="navbar navbar-default navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" title="Wirtualna Biblioteka" href="#">
					<img class="logo" src="{% static 'images/logo.png' %}">
				</a>
			</div>

			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="#">Wyszukiwanie</a></li>
                    <li><a href="/category/1">Katalog</a></li>
                    <li><a href="/reservations">Rezerwacje</a></li>
					<li><a href="/contact">Kontakt</a></li>
				</ul>

                {% if user.is_anonymous %}
                     <p class="navbar-text navbar-right">
                        <a href="/register" class="navbar-link">Zarejestruj się!</a>
                    </p>
				<form class="navbar-form navbar-right" role="form"  method="post" action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}
					<div class="form-group">
						<input class="form-control input-sm" name="username" type="text" placeholder="Login">
					</div>
					<div class="form-group">
						<input class="form-control input-sm" name="password" type="password" placeholder="Hasło">
					</div>
					<button class="form-group btn btn-sm" type="submit">Zaloguj się</button>
				</form>

                {% else %}
                    <p class="navbar-right navbar-text">Witaj, {{ user.username }}! <a class="navbar-link" href="{% url 'django.contrib.auth.views.logout' %}">Wyloguj się</a> </p>

                {% endif %}
			</div>
            </div>
		</nav>
<div class="container searchbar">
			<div class="row">
				<div class="col-md-9">
                    {% block search_form %}
					<form class="form-horizontal" action="/searchresults" method="get">
						<div class="controls form-inline">

                                <input type="text" class="form-control input-sm" name="q" style="width: 250px" placeholder="Fraza wyszukiwania">

                                <select name="k" class="form-control input-sm form-inline" style="width: 150px">
                                    <option value="1">Tytuł</option>
                                    <option value="2">Autor</option>
                                </select>

                                {% get_cats %}

                                <select name="s" class="form-control input-sm form-inline" style="width: 150px">
                                    <option value="1">Rosnąco</option>
                                    <option value="2">Malejąco</option>
                                </select>

                                <button class="btn btn-sm" type="submit">Szukaj</button>


						</div>
					</form>
                    {% endblock %}
				</div>
			</div>
		</div>
    {% block main_container %}
  <div class="container">
			<div class="row">
				<div class="col-md-9">
    {% block content %}
    {% endblock %}
                </div>

                <!-- Element stały, będzie na każdej podstronie -->
	    <div class="col-md-3">
{% block right_menu %}
            {% get_main_categories %}
{% endblock %}
                </div>
            </div>
  {% endblock %}
  </div>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
			<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
		</body>
		</html>