<ul class="list-group panel-default">
    <li class="panel-heading list-group-item"><p class="panel-title">Książki</p></li>
    {% for cat in cats %}
        <li class="list-group-item"><a href="/category/{{ cat.id }}"> {{ cat.name }}</a></li>
    {% endfor %}
    <!--
    <li class="list-group-item"><a href="#">Poradniki</a>
        <!-- <ul class="list-unstyled">
            <li><span class="glyphicon glyphicon-chevron-right glyphon-list"> </span><a href="#">Kuchnia</a></li>
            <li><span class="glyphicon glyphicon-chevron-right glyphon-list"> </span><a href="#">Zdrowie</a></li>
            <li><span class="glyphicon glyphicon-chevron-right glyphon-list"> </span><a href="#">Hobby</a></li>
            <li><span class="glyphicon glyphicon-chevron-right glyphon-list"> </span><a href="#">Sport</a></li>
            <li><span class="glyphicon glyphicon-chevron-right glyphon-list"> </span><a href="#">Ekonomia</a></li>
        </ul></li> -->
</ul>