{% extends "base.html" %}

{% block content %}

    <div class="panel panel-default">

        <div class="panel-body">
            <address>
                <strong>Bibliotheca</strong><br>
                ul. M. Kota 21<br>
                12-345 Miauczewo<br>
                <abbr title="Telefon">Tel:</abbr> 707 123 456
            </address>

            <address>
                <strong>Adam Miauczyński</strong>, właściciel<br>
                <a href="mailto:#">miau@internet.com</a>
            </address>

        </div>

    </div>

{% endblock %}