{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    {% if reservations %}
        {% for reservation in reservations %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-2">
                    {% if reservation.book.cover %}
                        <a href="{{ reservation.book.cover.url }}" class="thumbnail">
                            <img src="{{ reservation.book.cover.url }}" alt="...">
                        </a>
                    {% else %}
                         <a href="#" class="thumbnail">
                            <img src="{% static 'images/PlaceholderBook.png' %}" alt="...">
                        </a>
                    {% endif %}
                    </div>
                    <div class="col-md-10">
                        <h4><a href="/book/{{ reservation.book.id }}">{{ reservation.book.title }}</a></h4>
                        {% for author in reservation.book.authors.all %}
                            <a href="/author/{{ author.id }}">{{ author.name }} {{ author.last_name }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                        <p>
                            <a href="/publisher/{{ reservation.book.publisher.id }}">{{ reservation.book.publisher }}</a>, {{ reservation.book.published_date }}
                        </p>
                    <a href="/unreserved/{{ reservation.book.id }}" class="btn btn-primary" type="button">Anuluj rezerwację</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% else %}
        <h2>Brak rezerwacji.</h2>
    {% endif %}
{% endblock %}